body {
    background-color:black;
}
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
   }

.titulo{
    display: inline-block;
}

button{
    display: block;
    color: black;
    width: 200px; height: 50px; 
        border: 2px solid black; 
    margin-bottom: 30px;

}

.hide {

    display: none;
}

.show{
    display: block;
}